body {
	font-family: Georgia, serif;
	padding: 0px;
	margin: 0px;
}

/**
 * Header, Footer, Content
 */

#page-title {
	padding: 1em;
	background-color: #eee;
	height: 2.5em;
	clear: both;
}

#page-title h1 {
	margin: 0px;
    float: left;
}

#page-title .title-toolbox {
	font-size: 10pt;
    float: right;
    margin: 1em;
    clear: right;
}
	
#page-content {
	padding: 1em;
}

#page-footer {
	font-size: 9pt;
	color: #999;
	text-align: center;
	margin-top: 1em;
	padding: 1em;
}

/**
 * Month Calendar
 */

.calendar h2 {
    float: left;
    margin: 0 0.6em 0.5em 0;
}

.calendar .calendar-toolbar {
    float: left;
    padding: 0.4em;   
}

.calendar .calendar-toolbar form {
    display: inline;
    padding-left: 1em;
}

.calendar .monthCalendar {
	clear: both;
}

.monthCalendar th {
    font-size: 11pt;
}

.monthCalendar td {
	font-size: 10pt;
	width: 120px;
	border: 1px solid black;
    vertical-align: top;
    height: 6em;
}

.monthCalendar td.out-of-scope {
	color: #aaa;
	border-color: #999;
}

.monthCalendar td.today {
	background-color: #eef;
}

.monthCalendar td.has-events {
	font-weight: bold;
}

.monthCalendar td ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 8pt;
	font-weight: normal;
}

.monthCalendar td ul li {
	padding: 1px;
	margin: 1px 0;
	border: 1px solid #a0e0a0;
	background-color: #e0ffe0;
	-moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.monthCalendar td span.day-add a {
	float: right;
	padding: 1px;
	font-size: 8pt;
	color: #44AA44;
}

/**
 * Forms
 */

dl.form-container {
	padding: 0;
	margin: 0;
}

dl.form-container dt {
	float: left;
	width: 8em;
	text-align: right;
	padding: 1em 1em 0 0;
}

dl.form-container dd {
	clear: right;
	padding-top: 1em;
}

dl.form-container dt .required {
	text-decoration: underline;
}

dl.form-container ul.errors {
	list-style-type: none;
	font-size: 9pt;
	padding: 0px;
	margin: 0.2em;
	margin-left: 9em;
	color: #c44;
}
/**
 * Dojo / Dijit overrides
 */

.dijitPopup {
    font-size: 9pt !important;	
}